
.downloaded label {
    font-weight: bold;
    color: #3584e4;
}

/* #lang_list row { */
/*     padding: 0; */
/* } */

/* #lang_list row:first-child { */
/*     border-top-left-radius: 12px; */
/*     border-top-right-radius: 12px; */
/*     border-top-width: 0; */
/* } */

/* #lang_list row:last-child { */
/*     border-bottom-left-radius: 12px; */
/*     border-bottom-right-radius: 12px; */
/*     border-bottom-width: 0; */
/* } */

/* Lang Selector */
.search_box {
  background: @popover_bg_color;
  border-bottom: 1px solid @borders;
  padding: 6px;
}

.lang-selector list {
  padding: 6px;
  padding-top: 4px;
}

.lang-selector row {
  margin-top: 2px;
}

.lang-selector separator {
  margin: 0 6px;
}
